.launch_plan_view .content {
    padding: 40px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.launch_plan_view .content::-webkit-scrollbar { 
    display: none;
}

.launch_plan_view .auction_1, .auction_2, .auction_3{
    display: flex;
    min-height: 300px;
    padding: 20px;
}

.launch_plan_view .auction_1 .first_img{
    background-image: url("/src/images/TweetThread.webp");
    background-size: cover;
    margin: 5px 10px;
    border: none;
    border-style: none;
}

.launch_plan_view .auction_2 .first_img{
     background-image: url("/src/images/Terrarium.webp");
    background-size: cover;
    margin: 5px 10px;
}

.launch_plan_view .auction_3 .first_img{
     background-image: url("/src/images/minecraft_forest.webp");
    background-size: cover;
    margin: 5px 10px;
}